################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/www/{A0FBFA10-2A1E-4D75-BF9B-798EDAC426CB}
/.vs
