<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Yoklama Listeleri
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item> 
    <ion-label *ngIf="listeGorunum" style="font-weight :bold">Tüm Yoklamalar</ion-label>
    <ion-label *ngIf="takvimGorunum" style="font-weight :bold">Günlük Yoklamalar</ion-label>
    <div slot="end">
      <ion-button slot="end" class="ion-text-capitalize" color="light" (click)="clickListe()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
      <ion-button slot="end" class="ion-text-capitalize" color="light" (click)="clickTakvim()">
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
    </div>
  </ion-item>
  <ion-list *ngIf="listeGorunum">
    <ion-item *ngFor="let yoklama of yoklamalarListesi" [routerLink]="['/yoklama-detay/' + yoklama.id]">
      <ion-label style="font-weight :bold">{{yoklama.tarih | date:'dd.MM.yyyy'}}</ion-label>
      <ion-label style="font-weight :bold">{{yoklama.baslik}}</ion-label>
      <ion-label style="font-weight :bold" class="ion-text-end">{{yoklama.tarih | date:'HH:mm'}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="takvimGorunum">
    <ion-item>
      <ion-grid class="ion-no-margin">
        <ion-row>
          <ion-col (click)="oncekiTarih()" style="zoom: 1.5" size="2">
            <ion-icon name="arrow-back">Geri</ion-icon>
          </ion-col>
          <ion-col class="ion-text-center" size="8">
            <ion-label style="font-weight :bold">Yoklama Tarihi</ion-label>
            <ion-datetime name="tarih" style="padding-left:0px" displayFormat="DD.MM.YYYY" [(ngModel)]="secilenTarih"
              (ionChange)="getYoklamalarTakvimi()" doneText="Tamam" cancelText="Vazgeç"></ion-datetime>
          </ion-col>
          <ion-col (click)="sonrakiTarih()" style="zoom: 1.5" class="ion-text-right" size="2">
            <ion-icon name="arrow-forward">İleri</ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngFor="let yoklama of yoklamalarTakvimi" [routerLink]="['/yoklama-detay/' + yoklama.id]">
      <ion-icon name="menu"></ion-icon>
      <ion-label style="font-weight :bold">{{yoklama.baslik}}</ion-label>
      <ion-label style="font-weight :bold" class="ion-text-end">{{yoklama.tarih | date:'HH:mm'}}</ion-label>
      <ion-icon slot="end" name="time"></ion-icon>
    </ion-item>
  </ion-list>
  <div style="line-height: 20">
    <ion-card-subtitle mode="md" class="ion-text-center" *ngIf="yoklamalarTakvimi.length==0&&takvimGorunum">Bu tarihte
      alınmış bir yoklama
      yoktur</ion-card-subtitle>
  </div>
</ion-content>