<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<ion-card class="welcome-card">
				<img src="/assets/shapes.svg" alt="" />
				<ion-card-header>
					<ion-card-title class="ion-text-center">YOKLAMA TAKİP SİSTEMİ</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					<form #formLogin="ngForm" (ngSubmit)="login()">
						<div padding>
							<ion-item>
								<ion-input type="text" name="userName" [(ngModel)]="user.ad" placeholder="Kullanıcı Adı"
									required></ion-input>
							</ion-item>
							<ion-item>
								<ion-input type="password" name="password" [(ngModel)]="user.sifre" placeholder="Şifre"
									required></ion-input>
							</ion-item>
						</div>
						<div padding>
							<ion-button type="submit" #loginBtn [disabled]="formLogin.invalid" size="medium"
								expand="block"> <span #span>Giriş Yap</span>
							</ion-button>
						</div>
					</form>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
</ion-grid>