<ion-app>
  <ion-split-pane [when]="menuDurum">
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menü</ion-title>
          <ion-icon *ngIf="platform.width()>640" (click)="menuyuKapat()" slot="end" name="attach" style="zoom: 1.5">
          </ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-avatar style="margin:auto">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9Ry3j1IMhdhukL3SXCTW-q5MtEBDHu-oNlydFh-vMaY8h8LJYug">
            </ion-avatar>
            <ion-card-subtitle>{{currentUser.fullName}}</ion-card-subtitle>
            <!--<ion-card-title>{{currentUser.fullName}}</ion-card-title>-->
          </ion-card-header>
        </ion-card>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/ana-sayfa']">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>
                Ana Sayfa
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages">
            <ion-item *ngIf="getAktifRol(1)||getAktifRol(p.role)" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-button *ngIf="false" (click)="logOut()" expand="full" color="danger">
            <ion-icon name="power"></ion-icon>
            <ion-label> Çıkış Yap</ion-label>
          </ion-button>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
