<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Öğrenci Listesi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="filterText" (ionChange)="filteredList()" placeholder="Ara..."></ion-searchbar>
  <ion-card-subtitle class="ion-text-center" *ngIf="ogrenciListesi.length==0&&filterText.length>0"> '{{filterText}}'
    için sonuç bulunamadı
  </ion-card-subtitle>
  <div style="line-height: 20">
    <ion-card-subtitle style="white-space: nowrap" class="ion-text-center" *ngIf="ogrenciListesi.length==0&&filterText.length==0"
      [innerHTML]="veriYok"></ion-card-subtitle>
  </div>
  <!--<ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>-->
  <ion-list>
    <ion-item-sliding *ngFor="let ogrenci of ogrenciListesi; index as i">
      <ion-item-options side="start">
        <ion-item-option (click)="ogrenciDuzenle(ogrenci)" class="ion-text-capitalize">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <b>{{i+1}}.</b>{{ogrenci.ad}} {{ogrenci.soyad}}
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="ogrenciSil(ogrenci)" class="ion-text-capitalize" color="danger">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!-- Skeleton screen -->
  <ion-list *ngIf="ogrenciListesi.length==0&&veriYok.length==0&&filterText.length==0" class="ion-padding custom-skeleton">
    <ion-item>
      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    </ion-item>
    <ion-item>
      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    </ion-item>
    <ion-item>
      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    </ion-item>
    <ion-item>
      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    </ion-item>
    <ion-item>
      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    </ion-item>
    <ion-item>
      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    </ion-item>
    <ion-item>
      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    </ion-item>
    <ion-item>
      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    </ion-item>
    <ion-item>
      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    </ion-item>
    <ion-item>
      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="ogrenciEkle()">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>